apiVersion: v1
kind: Service
metadata:
  name: service-b
  labels:
    app: service-b
spec:
  selector:
    app: service-b
  ports:
  - port: 5000
    targetPort: 5000
    protocol: TCP
    name: http